<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/member/add-proposal" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input name="image" id="image" type="file" />
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" type="text"></textarea>
            </div>
            <div class="form-control">
                <label for="date">Date</label>
                <input name="date" id="date" type="date" />
            </div>
            <div class="form-control">
                <label for="tags">Tags</label>
                <input name="tags" id="tags" type="text" />
            </div>
            <div class="form-control">
                <label for="votes">Votes</label>
                <input name="votes" id="votes" type="text" />
            </div>
            <div class="form-control">
                <label for="members">Members</label>
                <input name="members" id="members" type="text" />
            </div>

            <button class="btn" type="submit">Submit Proposal</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>