<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if (props.length > 0) { %>
            <div class="grid">
                <% for (let prop of props) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= prop.title %></h1>
                        </header>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>