#post-item-container {
    position: fixed;
    padding: 23px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    display: none;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    z-index: 9999999999;
    color: #ffffff
}

#post-item {
    min-width: 555px;
    max-width: 100%;
    text-align: left;
}

#post-item input,
#post-item button,
#post-item select,
#post-item textarea {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 23px
}

#post-item button[type=submit] {
    width: auto;
    margin: 0 auto;
    padding: 10px 23px;
    background-color: #0274f9;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 23px
}

#post-item textarea {
    min-height: 230px
}

#post-item input[type=file] {
    display: inline-block;
    min-width: auto;
    width: auto
}

#post-item .featured-image label {
    display: inline-block
}

#post-item label,
#post-item .label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px
}

#title {
    font-weight: bold;
    font-size: 16px
}

#post-item .radios label,
#post-item .radios .label,
#post-item .radios input {
    display: inline-block;
    width: auto;
    min-width: auto;
}

#post-item .radios input,
#post-item .radios label {
    cursor: pointer;
    font-size: 18px
}

#post-item .radios label {
    padding: 0 12px;
    margin: 6px 6px 6px -12px
}

#post-item .radios label:hover,
#post-item .radios input:hover+label,
#post-item .radios input:checked+label {
    color: #0274f9
}

#post-item .btn {
    margin-top: 23px !important
}

#add-remove-inputs {
    display: none
}

#add_option,
#remove_option {
    font-weight: bold;
    font-size: 23px;
    color: #ffffff;
    padding: 0 9px !important;
    display: inline-block !important;
    width: auto !important;
    margin-right: 15px;
    background: linear-gradient(0deg, rgba(0, 207, 28, 1) 0%, rgba(115, 207, 0, 1) 100%);
}

#remove_option {
    background: linear-gradient(0deg, rgba(249, 2, 2, 1) 0%, rgba(249, 93, 2, 1) 100%);
}

#theImageTag {
    max-height: 100px;
}