#post-item {
    display: none
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color: #00695c;
    align-items: center;
}

#transferFormContainer{
    width: fit-content;
    margin: 0 auto;
}

#transfer-button {
    border: 2px solid #00695c;
    width:fit-content;
    border-radius: 5px;
    margin-top: 8px;
}

#username {
    font-weight: bold;
}
